html {
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-display: fallback;
}

body {
  font-size: 1.15em;
}

button a {
  color:white;
}

button a:hover {
  color:white;
}

.ui.items>.item.blog-item {
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  padding: 1em;
}

.blogCard .image img {
  max-height: 18.5em !important;
}